# --- Environments ---
.venv/
venv/
ENV/

# --- Python / Build ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
dist/
build/
bin/

yolo11n.pt

# Video files and datasets
*.mp4
*.avi
*.mov
*.csv


# --- Environment Secrets ---
output/table_data
output/temp
output/training_data/calibrations   
.env
*.spec

