# --- Environments ---
.venv/
venv/
ENV/

# --- Python / Build ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
dist/
build/
bin/

# Video files and datasets
*.mp4
*.avi
*.mov


# --- Environment Secrets ---
output/table_data
output/temp
.env
VolleyballAnalytics.spec
